﻿@* <copyright file="Index.cshtml" company="TCS">
     Copyright (C) TCS. All rights reserved.
    </copyright>*@

@using PagedList.Mvc
@model  FizzBuzz.WebSite.Models.FizzBuzzModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Get))
    {
        <label>Enter value between 1 to 1000</label>
        @Html.TextBoxFor(m => m.UserInput)
        @Html.ValidationMessageFor(m => m.UserInput, "", new { @class = "fizzerror" })<br />
        <button id="btnSubmit" type="submit">Submit</button>
        <br />
        <br />
        if (Model != null)
        {
            <div id="data_grid">
                <table>
                    @foreach (var result in Model.FizzBuzzList)
                    {
                        <tr>
                            <td>
                                @{
                                    var wordslist = result.Split(' ');
                                    foreach (var word in wordslist)
                                    {
                                        <span class="@word">@word</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div id="container" style="margin-left: 20px">
                <div class="pagination" style="margin-left: 400px">
                    Page @(Model.FizzBuzzList.PageCount < Model.FizzBuzzList.PageNumber ? 0 : Model.FizzBuzzList.PageNumber) of @Model.FizzBuzzList.PageCount
                    @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("Index", "FizzBuzz", new { ViewBag.UserInput, page }))
                </div>
            </div>
        }
    }
</div>